* {
	font-family: 'Shadows Into Light';
}

h1 {
	display: inline-block;
	text-align: left;
	border: 5px solid black;
	float: left;
	font-size: 3em;
	margin: 0 0 0 0;
}

#inputs {
	text-align: left;	
	clear: both;
}

#big-ass-grid {
	border: 1px dashed black;
	width: 1200px;
	height: 600px;
}

.pix-box {
	float: left;
	height: 60px;
	width: 60px;
	padding: 0px;
	border: 1px none gray;
}